.container-datos {
    background-image: url('fondo.png');
    background-position: 0px 0px;
    background-size: cover;
}
h3, h4, h5, p, ul,li {
    color: #0e3669
}
.red.in {
    background-image: url('inh.png');
    background-position: 0px 0px;
    background-size: cover;
}
.red.in:hover {
    background-image: url('in.png');
}
.git {
    background-image: url('gith.png');
    background-position: 0px 0px;
    background-size: cover;
}
.git:hover {
    background-image: url('git.png');
}

.red 
{
    width: 40px;
    height: 40px;
    margin-right: 4px;
    margin-left: 4px;
    float: left;
    display: inline-block;
}
@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        table, p, img {
        padding-right: 1em;
        width: 100%;
        }
     }
    @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    }
    @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    }
    @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }
    @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }
    @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }
